// THEMEING
:root {
    --blue-color: blue;
    --red-color: red;
    --yellow-color: yellow;
    --light-color: #e0e0e0;
    --dark-color: #303030;
}

$background-color: var(--light-color);
$text-color: var(--dark-color);

// BASE STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    color: $text-color;
    background-color: $background-color;
}

section {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

// UTILITIES
.flex {
    display: flex;
    flex-direction: row;
}

.page-wrapper {
    width: 100%;
    text-align: center;
}

.navbar {
    margin-bottom: 65px;
    padding-bottom: 65px;
}

.main-nav .flex li {
    margin-left: 60px;
}
.main-nav .flex li a {
}



.social-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: (linear-gradient(0,0,0,.4), url(img/hero.jpg));
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.social-icons {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
}

.social-icon {
    padding-left: 35px;
}

.social-icon-icon {
    color: $text-color;
    font-size: 1.25rem;

}